.profile__edit-button {
  background: url('../../../images/edit-button.svg') center/contain no-repeat;
  width: 24px;
  height: 24px;
  align-self: end;
  transition: opacity .4s linear ;
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 950px) {
  .profile__edit-button {
    align-self: center;
    width: 18px;
    height: 18px;
  }
  }

.profile__edit-button:hover {
  opacity: 0.5;
}

