
.header__logo {
  margin-top: 45px;
  margin-bottom: 41px;

}

.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 950px) {
  .header {
    max-width: 600px;
  }
  }
